<!doctype html>
<html>
  <head>
    <title>Survivable Social Network on a Chip</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
      #messages_stored { list-style-type: none; margin: 0; padding: 0; }
      #messages_stored li { padding: 5px 10px; }
      #messages_stored li:nth-child(odd) { background: #eee; }
    </style>
      <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
      <link rel="stylesheet" href="css/main.css">

  </head>
  <body>
    <div class="row-fluid">
     <!-- Header -->
      <div class="row-fluid">
      <div class="span12">
      <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
      <a class="navbar-brand" href="#">Welcome, <%= user.username %>!</a>
      <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
      <li><a href='/newsfeed'>News Feed</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Measure
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a id="memory" href='/measurememory'>Measure Memory&nbsp;&nbsp;&nbsp;</a></li>
          <li><a id="performance" href='/measureperformance'>Measure Performance&nbsp;&nbsp;&nbsp;</a></li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Search
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href='/search/citizen'>Search Citizen Information</a></li>
          <li><a href='/search/announcement'>Search Announcements</a></li>
          <li><a href='/search/pubmes'>Search Public Messages</a></li>
          <li><a href='/search/primes'>Search Private Messages</a></li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Share status
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a id="status_ok" href="#">OK</a></li>
          <li><a id="status_help" href="#">Help</a></li>
          <li><a id="status_e" href="#">Emergency</a></li>
        </ul>
      </li>
      <li><a id="announce" href='#'>Announce&nbsp;&nbsp;&nbsp;</a></li>
      <li><a href="/logout">Log out&nbsp;&nbsp;&nbsp;</a></li>
      </ul>
      </div>
      </div>
      </div>
      </div>
    </div>
    <!-- End Header -->

    <input style="visibility:hidden;" value="<%= user.username %>" id="username">

    <!-- Announcements -->
    <h3 style="margin-top:40px;text-align: center;">Announcement</h3>
    <div style="width: 700px; margin: 5px auto; border: 1px solid #999; padding: 0 20px;  border-radius:10px;">
      <% if(announcement != null) {%>
        <h4 id="announcement" ><%= announcement.content %></h4>
        <p id="announcement_metadata">published by <%= announcement.User.username %> at <%= announcement.createdAt %></p>
      <% }else{ %>
        <h4 id="announcement" ></h4>
        <p id="announcement_metadata"></p>
      <% } %>
    </div>

    <!-- online users and offline users-->
    <div id="userslist">
      <h3 style="margin-top:40px;">Online users</h3>
      <div id="online_users">
      </div>
      <h3 style="margin-top:40px;">Offline users</h3>
      <div id="offline_users">
      </div>
    </div>

    <br>
    <br>

    <div id="message_div" style="margin-bottom:100px;">
      <ul id="messages_stored">
        <% if(message != null) { %>
          <% for(var i=0; i<message.length; i++) {%>
             <li><%= message[i].createdAt %> , <%= message[i].User.username %>  </li>
             <li><%= message[i].content %></li>
          <% } %>
        <% } %>
      </ul>
      <ul id="messages"></ul>
    </div>

    <form action="" class="form-control">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>

    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/socket.io-1.2.0.js"></script>
    <script src="js/jquery.blockUI.js"></script>
    <script src="js/blockwhiletesting.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/modernizr-2.6.1-respond-1.1.0.min.js"></script>
    <script>
    $(document).ready(function() {
      var socket = io();
      var userlist = [];
      socket.emit('update userlist', userlist);

      $('#status_ok').click(function() {
        socket.emit('update status', [$('#username').val(), 'O']);
      });

      $('#status_help').click(function() {
        socket.emit('update status', [$('#username').val(), 'H']);
      });

      $('#status_e').click(function() {
        socket.emit('update status', [$('#username').val(), 'E']);
      });

      $('#announce').click(function(){
        var announcement = prompt('Please enter your announcement:');
        if(announcement != null && announcement != '') {
          socket.emit('announce', [$('#username').val(), announcement]);
        }
      });

      $('form').submit(function(){
        socket.emit('chat message', [$('#username').val(), $('#m').val()]);
        $('#m').val('');
        return false;
      });

      socket.on('announce', function(data){
        $('#announcement').text(data[1]);
        $('#announcement_metadata').text("published by " + data[0] + " at " + data[2]);
      });

      socket.on('chat message', function(data){
        $('#messages').append($('<li>').text(data[2] + ", " + data[0] + ":"));
        $('#messages').append($('<li>').text(data[1]));
      });

      socket.on('update userlist', function(userlist) {

        // console.log("online users "+userlist[0]);
        // console.log("offline users "+userlist[1]);
        var login_username = $("#username").val();

        $('#online_users').html("");
        for(var i=0; i<userlist[0].length; i++){
          if(userlist[0][i].username == login_username){
            $('#online_users').append("<img src=\"/img/" + userlist[0][i].share + ".png\" style=\"float:left; margin-right:1px;\" />"
                                    + "<strong style=\"float:left; margin-right:5px; color:blue;\">"+userlist[0][i].username+ "</strong>");
            //$('#online_users').append("<img src=\"/img/" + userlist[0][i].share + ".png\" style=\"margin-right:5px;\" />");
          }else{
            $('#online_users').append("<img src=\"/img/" + userlist[0][i].share + ".png\" style=\"float:left; margin-right:1px;\" />"
                                    + "<a id=\""+userlist[0][i].username+"\" href=\"/chat?user="+userlist[0][i].username+"\" style=\"float:left; margin-right:5px; color:green;\">"+userlist[0][i].username+"</a>");
            //$('#online_users').append("<img src=\"/img/" + userlist[0][i].share + ".png\" style=\"margin-right:5px;\" />");
          }
        }

        $('#offline_users').html("");
        for(var i=0; i<userlist[1].length; i++){
          $('#offline_users').append("<img src=\"/img/" + userlist[1][i].share + ".png\" style=\"float:left; margin-right:1px;\" />"
                                  + "<p id=\""+userlist[0][i].username+"\" style=\"float:left; margin-right:5px; color:gray;\">"+userlist[1][i].username+"</p>");
          //$('#online_users').append("<img src=\"/img/" + userlist[0][i].share + ".png\" style=\"margin-right:5px;\" />");
        }
        return false;
      });

      socket.on('privatechat_notification', function(data){
          var sender = data[0];
          var receiver = data[1];
          var login_username = $("#username").val();

          if( login_username == receiver ){
            $("#userslist").prepend("<div><a href=\"/chat?user="+sender+"\" style=\"color:red;\">You got a message from <Strong>"+sender+"</strong></a></div>");
          }

      });

    });

    </script>
  </body>
</html>
