extends layout

block content
  h1 SSNOC
  p Welcome to Survivable Social Network on a Chip

  h2 Log in
  form(action="/users/login", method="post")
    div
      p username
      input(type="text", name="username")
    div
      p password
      input(type="password", name="password")
    div
      p comfirm password
      input(type="password", name="confirm")
    div
      input(type="submit")
