<!DOCTYPE html>
<html>
<head>
   <title>Survivable Social Network on a Chip</title>
   <link href="/css/bootstrap.min.css" rel="stylesheet">
   <link href="/css/signin.css" rel="stylesheet">
   <script src="/js/jquery-1.11.2.min.js"></script>
   <script src="/js/bootstrap.min.js"></script>
</head>

<body>

   <!-- Header -->
  <div class="row-fluid">
    <div class="span12">
    <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
    <a class="navbar-brand" href="#">Measure Performance</a>
    <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
    <li><a href='/home'>Back&nbsp;&nbsp;&nbsp;</a></li>
    <li><a href="/logout">Log out&nbsp;&nbsp;&nbsp;</a></li>
    </ul>
    </div>
    </div>
    </div>
    </div>
  </div>
 <input style="visibility:hidden;" value="<%= login_user.username %>" id="username">
  <br>

  <div id="error">
  </div>


  <form class="form-signin" action="" method="post">
    <h4 class="form-signin-heading">Please enter time duration (1-5)</h2>
    <input id="duration" type="username" name="words" class="form-control" placeholder="1-5" required autofocus>
    <br>
    <button id="test" class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">Submit</button>
    <button id="stop" class="btn btn-lg btn-danger btn-block" type="submit" value="Submit">Stop</button>
  </form>

  <div id="message_div" style="margin-bottom:100px;">
    <ul id="messages"></ul>
  </div>

</body>
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/socket.io-1.2.0.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.blockUI.js"></script>
    <script src="js/modernizr-2.6.1-respond-1.1.0.min.js"></script>
    <script>
    $(document).ready(function() {
      var socket = io();
      var timeflag = true;
      var blockonce = true;
      var stopflag = false;

      //start testing
      $('#test').click(function(e){
        var duration = $('#duration').val()
        stopflag = false;
        timeflag = true;

        //check duration format
        if( duration < 1 || duration > 5 ){
          $("#error").html("<p style=\"color:red;\">\"Please enter a num between 1 and 5 \"</p>");
          $("#duration").val("");
          $("#duration").focus();
          return false;
        }

        //clear error message
        $("#error").html("");

        e.preventDefault();
        var stopsending=setTimeout(function(){
          timeflag = false;
          if( !stopflag ){
            socket.emit('empty test database and get result', $('#username').val());
            alert("time up!");
          }
        },duration*1000);
        socket.emit('measure performance', [$('#username').val(), "Measure Performance!"]);
      });

      //stop testing immediatly
      $('#stop').click(function(e){
        e.preventDefault();
        timeflag = false;
        socket.emit('empty test database and get result', $('#username').val());
        stopflag = true;
      });

      socket.on('measure performance', function(data){
        //now, the system should not be useable for other users
        var username = data[0];
        var curr_user = $('#username').val();
        if( username == curr_user ){
          if( timeflag ){
            socket.emit('measure performance', [$('#username').val(), "Measure Performance!"]);
            $('#messages').append($('<li>').text(data[2] + ", " + data[0] + ":"));
            $('#messages').append($('<li>').text(data[1]));
          }
        }else{
          //system become unusable
          if(blockonce == true){
            blockonce = false;
            $.blockUI({ message: '<h1>Some other users are testing the performance of the system, system is unavailable now...</h1>' });
          }
        }
      });

      socket.on('empty test database and get result',function(data){
        var username = data[1];
        var curr_user = $('#username').val();
        if(curr_user == username){
          alert("Total number of requests and responses is: "+data[0]);
          //clear message div and reset the time flag
          $('#message_div').html("<ul id=\"messages\"></ul>");
          timeflag = true;
        }else{
          //unblock the system
          $.unblockUI();
          blockonce = true;
        }
      });

    });

    </script>

</html>
