<!DOCTYPE HTML>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<title>SSNoC</title>

<link href="styles/style.css"     		 rel="stylesheet" type="text/css">
<link href="styles/framework.css" 		 rel="stylesheet" type="text/css">
<link href="styles/font-awesome.css"	 rel="stylesheet" type="text/css">

<script type="text/javascript" src="scripts/jquery.js"></script>
<script type="text/javascript" src="scripts/jqueryui.js"></script>
<script type="text/javascript" src="scripts/custom.js"></script>

</head>
<body>

<input style="visibility:hidden;" value="<%= user.username %>" id="username">

<!-- <div id="preloader">
	<div id="status">
    	<p class="center-text">
			Loading the content...
            <em>Loading depends on your connection speed!</em>
        </p>
    </div>
</div> -->


<div class="header">
	<h3 style="margin-top:20px; margin-left:40px;">Welcome!  <%= user.username %> </h3>
	<a class="deploy-menu" href="#"><i class="fa fa-angle-down"></i></a> 
</div>

<div class="header-clear"></div>

<div class="all-elements">
    <div class="navigation">
        <ul>
            <li>
            	<a class="active-menu" href="index.html">
                	<i class="fa fa-home"></i>
                    Home
                    <i class="fa fa-circle"></i>
                </a>
            </li>
            <li>
              <a class="show-sub-menu" href="#">
                  <i class="fa fa-cog"></i>         
                    Share status    
                   <i class="fa fa-plus"></i>
                </a>
                <ul class="sub-menu">
                  <li><a id="status_ok" href=""><i class="fa fa-angle-right"></i>OK<i class="fa fa-circle"></i></a></li>
                    <li><a id="status_help" href=""><i class="fa fa-angle-right"></i>Help<i class="fa fa-circle"></i></a></li>
                    <li><a id="status_e" href=""><i class="fa fa-angle-right"></i>Emergency<i class="fa fa-circle"></i></a></li>
                    <li><a href=""><i class="fa fa-angle-right"></i>Cancel<i class="fa fa-circle"></i></a></li>
                </ul>
            </li>

            <% if( user.privilege == "Monitor" || user.privilege == "Administrator" ) {%>
            <li>
              <a class="show-sub-menu" href="#">
                  <i class="fa fa-cog"></i>         
                    Measure    
                   <i class="fa fa-plus"></i>
                </a>
                <ul class="sub-menu">
                  <li><a id="" href="/measurememory"><i class="fa fa-angle-right"></i>Measure Memory<i class="fa fa-circle"></i></a></li>
                    <li><a id="" href="/measureperformance"><i class="fa fa-angle-right"></i>Measure Performance<i class="fa fa-circle"></i></a></li>
                </ul>
            </li>
            <% } %>

            <li>
              <a class="show-sub-menu" href="#">
                  <i class="fa fa-cog"></i>         
                    Search    
                   <i class="fa fa-plus"></i>
                </a>
                <ul class="sub-menu">
                  <li><a id="" href="/search/citizen"><i class="fa fa-angle-right"></i>Search Citizen Information<i class="fa fa-circle"></i></a></li>
                  <li><a id="" href="/search/announcement"><i class="fa fa-angle-right"></i>Search Announcements<i class="fa fa-circle"></i></a></li>
                  <li><a id="" href="/search/pubmes"><i class="fa fa-angle-right"></i>Search Public Messages<i class="fa fa-circle"></i></a></li>
                  <li><a id="" href="/search/primes"><i class="fa fa-angle-right"></i>Search Private Messages<i class="fa fa-circle"></i></a></li>
                </ul>
            </li>

            <% if( user.privilege == "Coordinator" || user.privilege == "Administrator" ) {%>
            <li>
            	<a id="announce" href="#">
                	<i class="fa fa-files-o"></i>
                    Announcement
                    <i class="fa fa-circle"></i>
                </a>
            </li>
             <% } %>

            <% if( user.privilege == "Administrator" ) {%>
            <li>
              <a id="admin" href="/admin">
                  <i class="fa fa-files-o"></i>
                    Admin
                    <i class="fa fa-circle"></i>
                </a>
            </li>
            <% } %>

            <li>
              <a id="newsfeed" href="/newsfeed">
                  <i class="fa fa-files-o"></i>
                    News Feed
                    <i class="fa fa-circle"></i>
                </a>
            </li>

            <li>
            	<a href="/logout">
                    <i class="fa fa-envelope-o"></i>
                    Log out
                    <i class="fa fa-circle"></i>
                </a>
            </li>
        </ul>    
    </div>  
    
    <div class="content">
         <div class="container-boxed boxed full-bottom">
            <h3>Announcement</h3>
            <% if(announcement != null) {%>
              <em id="announcement_metadata" class="small-subtitle">published by <%= announcement.User.username %> at <%= announcement.createdAt %></em>
              <p id="announcement" class="no-bottom">
                  <%= announcement.content %>
              </p>
            <% }else{ %>
              <h4 id="announcement" ></h4>
              <p id="announcement_metadata"></p>
            <% } %>
         </div>

        
        <div id="notification"></div>

        <div class="container-boxed boxed full-bottom">
            <h3>Online Users</h3>
              <div id="online_users"></div>
            <h3>Offline users</h3>
              <div id="offline_users"></div>
         </div>

        <div id="message_div">
          <ul id="messages_stored">
            <% if(message != null) { %>
              <% for(var i=0; i<message.length; i++) {%>
                 <div class="container-boxed boxed full-bottom">
                    <h3><%= message[i].User.username %> </h3>
                    <em class="small-subtitle"><%= message[i].createdAt %></em>
                    <p class="no-bottom">
                        <%= message[i].content %>
                    </p>
                 </div>
              <% } %>
            <% } %>
          </ul>
          <ul id="messages"></ul>
        </div>

        <form action="" class="form-control">
          <input id="m" class="loginbox-username" type="text"/><button class="button button-green">Send</button>
        </form>
         
        
        <div class="decoration unboxed"></div>   
        <p class="footer-text">18652 Team A1</p>   
    </div>
</div>

    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/socket.io-1.2.0.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/modernizr-2.6.1-respond-1.1.0.min.js"></script>
    <script src="js/jquery.blockUI.js"></script>
    <script src="js/blockwhiletesting.js"></script>

    <script>
    $(document).ready(function() {
      var socket = io();
      var userlist = [];
      socket.emit('update userlist', userlist);

      $('#status_ok').click(function() {
        socket.emit('update status', [$('#username').val(), 'O']);
      });

      $('#status_help').click(function() {
        socket.emit('update status', [$('#username').val(), 'H']);
      });

      $('#status_e').click(function() {
        socket.emit('update status', [$('#username').val(), 'E']);
      });

      $('#announce').click(function(){
        var announcement = prompt('Please enter your announcement:');
        if(announcement != null && announcement != '') {
          socket.emit('announce', [$('#username').val(), announcement]);
        }
      });

      $('form').submit(function(){
        socket.emit('chat message', [$('#username').val(), $('#m').val()]);
        $('#m').val('');
        return false;
      });

      socket.on('announce', function(data){
        $('#announcement').text(data[1]);
        $('#announcement_metadata').text("published by " + data[0] + " at " + data[2]);
      });

      socket.on('chat message', function(data){
        $('#messages').append($('<li>').text(data[2] + ", " + data[0] + ":"));
        $('#messages').append($('<li>').text(data[1]));
      });

      socket.on('update userlist', function(userlist) {

        // console.log("online users "+userlist[0]);
        // console.log("offline users "+userlist[1]);
        var login_username = $("#username").val();

        $('#online_users').html("");
        for(var i=0; i<userlist[0].length; i++){
          if(userlist[0][i].username == login_username){
            $('#online_users').append("<img src=\"/img/" + userlist[0][i].share + ".png\" style=\"float:left; margin-right:1px;\" />"
                                    + "<strong style=\"float:left; margin-right:5px; color:blue;\">"+userlist[0][i].username+ "</strong>");
            //$('#online_users').append("<img src=\"/img/" + userlist[0][i].share + ".png\" style=\"margin-right:5px;\" />");
          }else{
            $('#online_users').append("<img src=\"/img/" + userlist[0][i].share + ".png\" style=\"float:left; margin-right:1px;\" />"
                                    + "<a id=\""+userlist[0][i].username+"\" href=\"/chat?user="+userlist[0][i].username+"\" style=\"float:left; margin-right:5px; color:green;\">"+userlist[0][i].username+"</a>");
            //$('#online_users').append("<img src=\"/img/" + userlist[0][i].share + ".png\" style=\"margin-right:5px;\" />");
          }
        }

        $('#offline_users').html("");
        for(var i=0; i<userlist[1].length; i++){
          $('#offline_users').append("<img src=\"/img/" + userlist[1][i].share + ".png\" style=\"float:left; margin-right:1px;\" />"
                                  + "<p id=\""+userlist[0][i].username+"\" style=\"float:left; margin-right:5px; color:gray;\">"+userlist[1][i].username+"</p>");
          //$('#online_users').append("<img src=\"/img/" + userlist[0][i].share + ".png\" style=\"margin-right:5px;\" />");
        }
        return false;
      });

      socket.on('privatechat_notification', function(data){
          var sender = data[0];
          var receiver = data[1];
          var login_username = $("#username").val();

          if( login_username == receiver ){
            $("#userslist").prepend("<div><a href=\"/chat?user="+sender+"\" style=\"color:red;\">You got a message from <Strong>"+sender+"</strong></a></div>");
          }

      });

    });

    </script>

</body>
</html>




















