<!DOCTYPE html>
<html>
<head>
   <title>Survivable Social Network on a Chip</title>
   <link href="/css/bootstrap.min.css" rel="stylesheet">
   <link href="/css/signin.css" rel="stylesheet">
   <script src="/js/jquery-1.11.2.min.js"></script>
   <script src="/js/bootstrap.min.js"></script>
</head>
<body>

   <!-- Header -->
  <div class="row-fluid">
    <div class="span12">
    <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
    <a class="navbar-brand" href="#">News Feed</a>
    <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
    <li><a href='/newsfeed'>Refresh&nbsp;&nbsp;&nbsp;</a></li>
    <li><a href='/home'>Back&nbsp;&nbsp;&nbsp;</a></li>
    <li><a href="/logout">Log out&nbsp;&nbsp;&nbsp;</a></li>
    </ul>
    </div>
    </div>
    </div>
    </div>
  </div>

  <br>

  <input style="visibility:hidden;" value="<%= username %>" id="username">

  <form class="form-signin" action="/postnewsfeed" enctype="multipart/form-data" method="post">
    <h4 class="form-signin-heading">Post Image</h2>

    <input type="file" name="fileUploaded" class="form-control" required autofocus>
    <input type="username" name="words" class="form-control" placeholder="Description" required autofocus>
    <% if(userlist != null && userlist.length != 1) {%>
      <p>I want to notify: </p>
      <% for(var i = 0; i < userlist.length; i++) {%>
        <input type="checkbox" name="notify" value="<%= userlist[i] %>"><%= userlist[i] %><br>
      <% } %>
    <% } %>
    <br>
    <button id="upload" class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">Upload</button>
  </form>

  <br><br>

  <!-- Newsfeeds -->
  <% if(newsfeeds != null && newsfeeds.length != 0) {%>

    <!-- First get emmergency newsfeed -->
    <% for(var i = newsfeeds.length - 1; i >= 0; i--) {%>
      <% if( newsfeeds[i].User.share == 'E' ) {%>
        <div style="width: 700px; margin: 5px auto; border: 10px solid #999; padding: 0 20px;  border-radius:10px; border-color:red;">
          <h4><%= newsfeeds[i].content %></h4>
          <img src="/uploads/<%= newsfeeds[i].filename%>" style="max-width:650px"/>
          <p>posted by <%= newsfeeds[i].User.username %> at <%= newsfeeds[i].createdAt %></p>
          <div class="reply" id="<%= newsfeeds[i].id%>">
            <a href="#" style="color:blue;float:right;">Reply</a>
          </div>
          <br>
          <% if(comments != null && comments.length != 0) {%>
            <% for(var j = 0; j < comments.length; j++) {%>
              <% if(comments[j].NewsFeed.id == newsfeeds[i].id) {%>
                <p style="color:gray;"><%= comments[j].username %>: <%= comments[j].content%></p>
              <% } %>
            <% } %>
          <% } %>
        </div>
        <br>
      <% } %>
    <% } %>

   <!-- First get not emmergency newsfeed -->
    <% for(var i = newsfeeds.length - 1; i >= 0; i--) {%>
      <% if( newsfeeds[i].User.share != 'E' ) {%>
        <div style="width: 700px; margin: 5px auto; border: 1px solid #999; padding: 0 20px;  border-radius:10px;">
          <h4><%= newsfeeds[i].content %></h4>
          <img src="/uploads/<%= newsfeeds[i].filename%>" style="max-width:650px"/>
          <p>posted by <%= newsfeeds[i].User.username %> at <%= newsfeeds[i].createdAt %></p>
          <div class="reply" id="<%= newsfeeds[i].id%>">
            <a href="#" style="color:blue;float:right;">Reply</a>
          </div>
          <br>
          <% if(comments != null && comments.length != 0) {%>
            <% for(var j = 0; j < comments.length; j++) {%>
              <% if(comments[j].NewsFeed.id == newsfeeds[i].id) {%>
                <p style="color:gray;"><%= comments[j].username %>: <%= comments[j].content%></p>
              <% } %>
            <% } %>
          <% } %>
        </div>
        <br>
      <% } %>
    <% } %>

  <% } %>



<!--
<form method='post' action='/postnewsfeed' enctype="multipart/form-data">
<input type='file' name='fileUploaded'>
<input type='submit'>
-->

<script src="/js/jquery-1.11.2.min.js"></script>
<script src="/js/socket.io-1.2.0.js"></script>
<script src="/js/jquery.blockUI.js"></script>
<script src="/js/blockwhiletesting.js"></script>
<script>
  $(document).ready(function() {
    var socket = io();
    // notify new post
    socket.on('notify client', function(data) {
      var curr_user = $('#username').val();
      if(data[0] instanceof Array) {
        if($.inArray(curr_user, data[0]) != -1) {
          alert(data[1] + " has posted a new feed!");
        }
      }
      else {
        if(curr_user == data[0]) {
          alert(data[1] + " has posted a new feed!");
        }
      }
    });

    $('#upload').click(function() {
      var notifylist = [];
      $("input:checkbox[name=notify]:checked").each(function()
      {
            notifylist.push($(this).val());
      });
      socket.emit('notify post', [notifylist, $('#username').val()]);
    });

    $('.reply').click(function(){
      if($(this).html().indexOf("<form") == -1) {
        var id = $(this).attr('id');
        /*
        var userlist = $('#userlist').val().split(',');

        var checkbox = "";
        for(var i = 0; i < userlist.length; i++) {
          checkbox = checkbox.concat("<input type=\"checkbox\" name=notify value=" + userlist[i] + ">" + userlist[i] + " <br>");
        }*/

        $(this).append("<form method=\"post\" action=\"/post/" + id +
                        "\"> <input type=\"text\" name=\"comment\" />" +
                        /*"<p>I want to notify: </p>" + checkbox + */
                        "<input type=\"submit\" value=\"post\" /></form>");
      }
   });

  });
</script>
</body>
</html>
