<!DOCTYPE html>
<html>
<head>
   <title>Survivable Social Network on a Chip</title>
   <link href="/css/bootstrap.min.css" rel="stylesheet">
   <script src="/js/jquery-1.11.2.min.js"></script>
   <script src="/js/bootstrap.min.js"></script>
</head>
<body>

   <!-- Header -->
  <div class="row-fluid">
    <div class="span12">
    <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
    <a class="navbar-brand" href="#">Search Public Messages</a>
    <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
    <li><a href='/search/pubmes'>Back&nbsp;&nbsp;&nbsp;</a></li>
    <li><a href="/logout">Log out&nbsp;&nbsp;&nbsp;</a></li>
    </ul>
    </div>
    </div>
    </div>
    </div>
  </div>

  <br>

  <% if(messages.length != 0) {%>
  <h3 style="margin-top:40px;">Matched messages</h3>
  <br>
  <div style="width: 700px; margin: 5px auto; border: 1px solid #999; padding: 0 20px;  border-radius:10px;">
      <% for(var i = messages.length - 1; i >= 0; i--) {%>
        <h4><%= messages[i].content %></h4>
        <p>posted by <%= messages[i].User.username %> at <%= messages[i].createdAt %></p>
        <br>
      <% } %>
  </div>
  <% } %>

<script src="/js/jquery-1.11.2.min.js"></script>
<script src="/js/socket.io-1.2.0.js"></script>
<script src="/js/jquery.blockUI.js"></script>
<script src="/js/blockwhiletesting.js"></script> 
</body>
</html>
